<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.regular.TextFieldStuff"></activity>
        <activity android:name=".ui.pop_up.SheetsBottomDesing" />
        <activity android:name=".ui.selection_controls.SwitchesStuff" />
        <activity android:name=".ui.selection_controls.RadioButtonsStuff" />
        <activity android:name=".ui.selection_controls.ChecksboxesStuff" />
        <activity android:name=".ui.picker.PickerStuff" />
        <activity
            android:name=".ui.pop_up.DrawerDesing"
            android:label="Bizcochuelos" />
        <activity android:name=".ui.pop_up.MenuStuff" />
        <activity android:name=".ui.pop_up.DialogsStuff" />
        <activity android:name=".ui.selection_controls.ChipsStuff" />
        <activity android:name=".ui.cars.CarsDesing" />
        <activity android:name=".ui.floating_button.ActionButton" />
        <activity android:name=".ui.navigation.NavigationBottom" />
        <activity android:name=".ui.app_bars.BarsTop" />
        <activity android:name=".ui.app_bars.BarsBottom" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>